.app {
  width: 100vw;
  min-height: 100vh;
  padding: 6% 4%;
  background-image: linear-gradient(to top, rgba(32, 24, 41, 0.788), rgba(32, 24, 41, 0.788)),
    url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

hr {
  text-align: left;
}

.main {
  margin-top: 20vh;
  width: 25vw;
  font-family: 'Oswald',
    sans-serif;
  color: #b4b2b7;
}

.text01 {
  font-size: 56px;
  font-weight: 400;
  text-transform: uppercase;
}

.text02 {
  font-size: 24px;
  margin-top: 4vh;
}

.scroll-cta {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.scroll-text {
  color: white;
  font-family: 'Roboto',
    sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.1rem;
}

.scroll-image {
  width: 2vw;
  margin: 0 auto 4vh;
  display: block;
  animation-name: jump;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.social-icons {
  width: 100%;
  padding-top: 6%;
}

.social-links {
  color: rgb(183, 148, 222);
  font-weight: 600;
  cursor: pointer;
  padding: 2%;
  overflow: hidden;
}

.github-icon {
  width: 24px;
  fill: rgb(110, 84, 148);
  stroke: rgb(110, 84, 148);
}

.icon {
  width: 24px;
  height: 24px;
}

.file-icon {
  width: 24px;
  fill: #39a2f2;
}

.twitter-icon {
  width: 24px;
}

.Projects {
  width: 100%;
  display: inline-block;
}

.project-heading {
  font-size: 42px;
  font-weight: 800;
  text-align: center;
  padding-top: 5vh;
}

.project-tagline {
  font-size: 18px;
  color: #777777;
  text-align: center;
  padding: 3vh;
}

.project-flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.project-image {
  flex: 2 1;
}

.image {
  max-width: 100%;
  display: block;
  margin: 0 auto 2vh;
}

.webp {
  margin-top: 4vh;
  margin-bottom: 10vh;
  box-shadow: 0px 10px 30px 5px grey;
}

.bsp {
  margin-top: 4vh;
  margin-bottom: 10vh;
  box-shadow: 0px 10px 30px 5px grey;
}

.project-desc {
  flex: 1 1;
  padding-left: 2vw;
  position: relative;
}

.summary {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  font-size: 18px;
  color: #777777;
  vertical-align: middle;
}

.footer {
  margin: 8vh;
  display: flex;
  justify-content: space-between;
}

.copyright {
  flex: 2 1;
  margin-left: 12vw;
  color: #777777;
  font-size: 13px;
}

.footer-social-icons {
  flex: 3 1;
  margin-left: 15vw;
}

@keyframes jump{
  from{
    transform: translateY(0%);
  }

  40% {
    transform: translateY(-25%);
  }

  60% {
    transform: translateY(0%);
  }

  80% {
    transform: translateY(-10%);
  }

  to {
    transform: translateY(0%);
  }
}
