* {
  box-sizing: border-box;
}

html{
  width:100%;
  height: auto;
  overflow-x: hidden;
}

#root{
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #444444;
}

a{
  color: inherit;
  text-decoration: none;
}